/* GLOBAL STYLES
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Parisienne|Montserrat&subset=latin-ext');

.main-navbar {
    background: #1D1C38 !important;
}

.navbar-brand {
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 1.9em;
    color: #FF4D80 !important;
}

.brand-footer {
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 1em;
    color: #FF4D80 !important;
}

.brand-register {
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 1.8em;
    color: #FF4D80 !important;
}

body {
    font-family: 'Montserrat';
    padding-bottom: 3rem;
    color: #5a5a5a;
    margin: 0 auto;
    padding: 0px;
    width: 100% !important;
}

.carousel-button {
    background: #CE0044;
    color: #FFF;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  background-color: #777;
  padding: 0;
  height: 100vh;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
    background-size: auto;
}

.btn-primary {
    background-color: #FF4D80 !important;
    border-color: #FF4D80 !important;
}
.btn-info {
    background-color: #08B2E3 !important;
    border-color: #08B2E3 !important;
}

.btn-outline-primary, .btn-outline-primary:active {
    color: #FFF;
    background-color: transparent;
    background-image: none;
    border-color: #CE0044 !important;
}

.btn-outline-primary:hover {
    color:#fff;
    background-color:#CE0044 !important;
    border-color:#CE0044 !important;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color:#007bff;
    background-color:transparent;
}

#signin {
    color: #FF4D80 !important;
}

.signup {
    color: #CE0044;
}

a.signup:hover {
    color: white;
}

.section-new {
    background: #fbfbfb;
}

.form-section, .activation-section {
    background-color: #f5f5f5 !important;
    justify-content: center;
}

.activation {
    min-height: 100%;
    height: 100vh;
}

.fizzbuzz {
    background-color: #f5f5f5 !important;
    min-height: 100% !important;
}

main.fizzbuzz.mx-0 {
    height: 100vh !important;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.divider {
  margin: 2rem 0;
}

.section-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.form-control:focus {
  border-color: transparent !important;
  box-shadow: none;
}

a:hover {
    text-decoration: none;
}

/* recaptcha */
#rc-imageselect {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

table {
    table-layout: fixed;
    font-size: 0.8em;
}

.wrap {
    word-wrap: break-word !important;
}

.admin-title {
    color: white;
}

.brand-register {
    font-size: 1.2em;
}

.form-control {
    font-size: 1em !important;
}

/* Comments Page
----------------------------------------------- */

.date {
    font-size: 0.8em;
}

.comment-title {
    font-size: 0.8em;
}

.m-100 {
    margin-top: 100px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
/* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .fullscreen {
        min-height: auto;
        height: auto;
        padding: 120px 0 120px;
    }

    .section-heading {
        font-size: 50px;
    }

    #rc-imageselect, .g-recaptcha {
        transform:scale(1);
        -webkit-transform:scale(1);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

@media (min-width: 62em) {
    .section-heading {
        margin-top: 7rem;
    }
}


@media (min-width: 0px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(1);
        min-width: 100% !important;
        -webkit-transform:scale(1);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .recent-post {
        max-width: 40% !important;
        color: red !important;
    }

    .carousel-item {
      width: 100%;
      height: 100vh;
    }

    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .carousel-caption h1 {
        font-size: 8vw;
    }

    .carousel-button {
        width: 100% ;
        margin-bottom: 10px;
    }

    .cat-img {
        /* width: 100%; */
    }

    body, html {
        overflow-x:hidden;
    }

    img {
        margin: 0 auto;
        padding: 0;
    }

}

@media (min-width: 576px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(1);
        min-width: 100% !important;
        -webkit-transform:scale(1);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .recent-post {
        max-width: 40% !important;
        color: red !important;
    }

    .carousel-item {
      width: 100%;
      height: 100vh;
    }

    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .carousel-caption h1 {
        font-size: 6vw;
    }

    .carousel-button {
        width: 30% ;
        margin-bottom: 0px;
    }

    .cat-img {
        /* max-width: 50%; */
    }

    body, html {
        overflow-x:hidden;
    }

    img {
        margin: 0 auto;
        padding: 0;
    }

}

@media (min-width: 768px) {
    .recent-post {
        min-width: 40% !important;
    }

    .carousel-button {
        width: 20% ;
        margin-bottom: 0px;
    }

    .carousel-caption h1 {
        font-size: 4vw;
    }
}

@media (min-width: 992px) {
    #rc-imageselect, .g-recaptcha {
        transform:scale(1);
        -webkit-transform:scale(1);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

    .recent-post {
        min-width: 40% !important;
    }

    .carousel-button {
        width: 15% ;
        margin-bottom: 0px;
    }
}

@media (min-width: 1200px) {

}

@media (max-width: 200px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.35);
        -webkit-transform:scale(0.35);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }


}
